@mixin typography-roboto300
{
    font-family: 'Roboto';
    font-weight: 300;
}

@mixin typography-roboto500
{
    font-family: 'Roboto';
    font-weight: 500;
}

@mixin typography-roboto700
{
    font-family: 'Roboto';
    font-weight: 700;
}